body {
  font-family: 'Noto-Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Log-in */

#google-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  flex-direction: column;
  width: 570px;
  min-width: 570px;
}

.button-space {
  margin: 20px 0;
}

.space {
  margin: 13px 0;
}

.h1-space {
  margin: 6px;
}

.gap {
  margin-top: 10px;
  margin-bottom: 22px;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.3em;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
}

#google-writing {
  margin-top: 60px;
  margin-bottom: 15px;
  height: auto;
  width: 90px;
}

.last {
  margin-top: 10px;
  margin-bottom: 60px;
}

.thin {
  font-weight: 100;
}

.label-input-width {
  width: 95%;
}

.input {
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  height: 63px;
  max-height: 63px;
  font-size: 20px;
  padding-left: 15px;
  width: 90%;
}

.input::target-text {
  font-size: 20px;
}

.input::placeholder {
  font-size: 20px;
}

.input::placeholder,
.select-dropdown-options {
  color: #5c5c5c; 
}

.select-dropdown-options::placeholder {
  color: #5c5c5c; 
}

.dob-input-width input::placeholder,
.gender-input-width select::placeholder {
  color: #5c5c5c; 
}

.input:focus {
  outline: none !important;
  border: 3px solid rgb(54, 122, 225);
}

.line-height {
  max-height: 63px;
  height: 63px;
}

.blue-button {
  background-color: rgb(26,115,232);
  border: 2px solid rgb(26,115,232);
  border-radius: 4px;
  color: white;
  padding: 11.5px 29.25px;
  font-size: 19px;
  cursor: pointer;
}

.blue-button:hover {
  background-color: rgb(34 106 202);
  box-shadow: 
    0 1px 2px 0 rgba(60, 64, 67, .3), 
    0 1px 3px 1px rgba(60, 64, 67, .15);
}

.hyper-link {
  color: #4d8fe6;
  cursor: pointer;
}

p {
  font-size: 19px;
  font-weight: 600;
}

.grey-button {
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  color: #4d8fe6;
  padding: 11.5px 14.625px;
  font-size: 19px;
  cursor: pointer;
  font-weight: 600;
}

.grey-button:hover {
  background-color: #f2f7ff;
  color: #3d78c5;
}

.disable-eye-icon::-ms-reveal {
  display: none;
}

.logged-in-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.input-label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* Create Account  */

.button-right {
  display: flex;
  width: 463px;
  justify-content: flex-end;
  margin-bottom: 145px;
  margin-top: 20px;
}

/* Basic Information (birthday and gender) */

.input-third {
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  height: 63px;
  max-height: 63px;
  font-size: 20px;
  padding-left: 15px;
  width: 100%;
  display: flex;
}

.third-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.input-label-third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-third:focus {
  outline: none !important;
  border: 3px solid rgb(54, 122, 225);
}

.input-third-adjust{
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  height: 67px;
  max-height: 67px;
  font-size: 20px;
  padding-left: 15px;
  width: 100%;
  display: flex;
}

.input-third-adjust:focus{
  outline: none !important;
  border: 3px solid rgb(54, 122, 225);
}

.select-color {
  color: #5c5c5c;
}

.select-dropdown-options {
  color: black;
}

.gender-input-width {
  width: 90%;
}

.dob-input-width {
  width: 95%;
  display: flex;
  width: calc(32.5% - 10px);
}

/* Choose Your Gmail Address */

.placeholder-satic-cohersion {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.static-position {
  position: absolute; 
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1em;
}

.center {
  text-align: center;
}

#button-right-choose-email {
  display: flex;
  width: 463px;
  justify-content: flex-end;
  margin-bottom: 170px;
  margin-top: 30px;
}

#choose-email-h2 {
  width: 90%;
}








