#body {
  font-family: 'Noto-Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  @media (min-height: 624px) {
    align-items: center;
  }
  justify-content: center;
}

#body-overflow {
  font-family: 'Noto-Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
  /* margin-bottom: 725px; */
}

.test-overflow {
  height: 6px;
}

#root {
  font-size: 16px;
  color: rgb(32,33,36);
}

/* Ellipsis Loader */

@keyframes ellipsisAnimation{
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

.ellipsis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 64px;
  height: 64px;
}

#ellipsis{
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgb(219, 219, 219);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#ellipsis-div- {
  left: 6px;
  animation: ellipsisAnimation 0.6s infinite;
}

#ellipsis-div-2 {
  left: 6px;
  animation: ellipsisAnimation 0.6s infinite;
  animation-delay: -0.2s;
}

#ellipsis-div-3 {
  left: 26px;
  animation: ellipsisAnimation 0.6s infinite;
  animation-delay: -0.4s;
}

#ellipsis-div-4 {
  left: 45px;
  animation: ellipsisAnimation 0.6s infinite;
  animation-delay: -0.6s;
}

/* Front Page Sign In */

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

#google-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadce0;
  border-radius: 10px;
  flex-direction: column;
  width: 448.18px;
  min-width: 448.18px;
  height: 501px;
  position: relative;
  @media (max-height: 623px) {
    margin-top: 20px;
  }
}

#google-container-flexible {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadce0;
  border-radius: 10px;
  flex-direction: column;
  width: 448.18px;
  min-width: 448.18px;
  min-height: 496.219px;
  position: relative;
  @media (max-height: 623px) {
    margin-top: 20px;
  }
}

#google-container-front-page {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadce0;
  border-radius: 10px;
  flex-direction: column;
  width: 448.18px;
  min-width: 448.18px;
  height: 550px;
  margin-top: -10px;
  @media (max-height: 623px) {
    margin-top: 20px;
  }
}

#google-container-create-password {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadce0;
  border-radius: 10px;
  flex-direction: column;
  width: 448.18px;
  min-width: 448.18px;
  height: 521px;
  margin-top: -10px;
  @media (max-height: 623px) {
    margin-top: 20px;
  }
}

.log-in-space {
  margin: 20px 0;
}

.sign-in-space-1 {
  margin: 5px 0 8.5px;
}

.sign-in-space-2 {
  margin: 5px 0;
}

.button-space-basic-info {
  margin: 20px 1.5px 20px 0;
}

.space {
  margin: 13px 0;
}

.h1-space {
  margin: 6px;
  text-align: center;
}

.gap {
  margin-top: 10px;
  margin-bottom: 25px;
}

h1 {
  font-size: 1.5rem;
  color: #202124;
}

h2 {
  font-size: 1em;
}

.links-font-size {
  font-size: 0.95em;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

#google-writing {
  margin-top: 81px;
  margin-bottom: 15px;
  height: auto;
  width: 72px;
}

#google-writing-front-page {
  margin-top: 81px;
  margin-bottom: 15px;
  height: auto;
  width: 72px;
}

#google-writing-create-password {
  margin-top: 25px;
  margin-bottom: 15px;
  height: auto;
  width: 72px;
}

.last {
  margin: 10px 0 60px 0;
}

.thin {
  font-weight: 400;
}

.label-input-width {
  width: 95%;
}

.input {
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  height: 53.75px;
  max-height: 53.75px;
  font-size: 16.75px;
  padding-left: 15px;
  width: 90%;
}

.input::target-text {
  font-size: 16.75px;
}

.input::placeholder {
  font-size: 16.75px;
}

.input::placeholder,
.select-dropdown-options {
  color: #5c5c5c; 
}

.input:focus {
  outline: none !important;
  border: 2.2px solid rgb(54, 122, 225);
}

.select-dropdown-options::placeholder {
  color: #5c5c5c; 
}

.dob-input-width input::placeholder,
.gender-input-width select::placeholder {
  color: #5c5c5c; 
}

.line-height {
  max-height: 53.75px;
  height: 53.75px;
}

.blue-button {
  background-color: rgb(26,115,232);
  border: 2px solid rgb(26,115,232);
  border-radius: 4px;
  color: white;
  padding: 8.5px 22.475px;
  font-size: 15px;
  cursor: pointer;
}

.blue-button:hover {
  background-color: rgb(34 106 202);
  box-shadow: 
    0 1px 2px 0 rgba(60, 64, 67, .3), 
    0 1px 3px 1px rgba(60, 64, 67, .15);
  border: 2px solid rgb(34 106 202);
}

.hyper-link {
  color: #4d8fe6;
  cursor: pointer;
}

.grey-button {
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  color: #4d8fe6;
  padding: 11.5px 14.625px;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
}

.grey-button:hover {
  background-color: #f2f7ff;
  color: #3d78c5;
}

.disable-eye-icon::-ms-reveal {
  display: none;
}

.logged-in-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.input-label {
  width: 90%;
}

/* Blue Snake Loader */
  
.empty-blue-snake-loader {
  width: 98.99%;
  height: 4.5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.empty-blue-snake-loader-placeholder{
  width: 98.99%;
  height: 4.5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  top: 0;
  overflow: hidden;
  display: none;
}

.blue-snake-loader {
  height: 4.5px;
  background-color: rgb(26,115,232);
  animation: progressBar 3s ease-in infinite;
  position: absolute;
  opacity: 1; /* Initially visible */
}

@keyframes progressBar {
  0%, 100% {
      width: 0;
      left: 0; /* Start from the left */
      opacity: 0.5;
    }
  
    25% {
      width: 40%;
      left: 0; /* Stay at the left edge */
      opacity: 1;
    }
  
    50% {
      width: 76%;
      left: 33%; /* Stay at the left edge */
      opacity: 1;
    }
  
  65% {
    opacity: 0.8;
    width: 90%;
  }
  
  74% {
      opacity: 0.3;
  }
  
    75% {
      width: 100%;
      left: 100%; /* Move to the right edge */
      opacity: 0.0;
    }
    76% {
      opacity: 0;
      width: 0;
    }
    99% {
      opacity:0;
      left: 0;
      }
}

/* Create Account  */

.google-svg-and-page-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.last-name-margin-top {
  margin-top: 15px !important;
}

.button-right-ca {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin-bottom: 105px;
}

.button-right-first-name-empty {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 79px;
}

.hidden-error-message-container-create-account {
  height: 16.4px; /* Adjust the height as needed */
}

/* Basic Information (birthday and gender) */

#google-container-BG {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadce0;
  border-radius: 10px;
  flex-direction: column;
  width: 448.18px;
  min-width: 448.18px;
  position: relative;
  @media (max-height: 623px) {
    margin-top: 20px;
  }
}

#google-writing-BG {
  margin-top: 49px;
  margin-bottom: 15px;
  height: auto;
  width: 72px;
}

.h2-bg {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 350px;
  text-align: center;
}

.input-third {
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  height: 53.75px;
  max-height: 53.75px;
  font-size: 16.75px;
  padding-left: 15px;
  width: 100%;
  display: flex;
}

.css-ffg8md-MuiNativeSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  cursor: default !important;
}

.label {
  color: rgba(0, 0, 0, 0.6) !important;
}

.error-third {
  border-radius: 4px;
  outline: none !important;
  border: 1px solid rgb(225 54 54);
  height: 53.75px;
  max-height: 53.75px;
  font-size: 16.75px;
  padding-left: 15px;
  width: 100%;
  display: flex;
}

.hidden-error-message-container-BI {
  height: 18.4px; 
}

#error-div-space-basic-info {
  width: 90%;
  margin: 5px 5px 9.25px 5px;
}

.button-right-BI {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin-bottom: 80px;
  margin-top: 50px;
}

.button-right-error-BI {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 60px;
}

.third-container-basic-information {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.input-label-third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-third:focus {
  outline: none !important;
  border: 2.2px solid rgb(54, 122, 225);
}

.error-third:focus {
  outline: none !important;
  border: 2.2px solid rgb(225 54 54);
}

.input-third-adjust-1 {
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  height: 57.5px;
  max-height: 57.5px;
  font-size: 16.75px;
  padding-left: 11px;
  width: 100%;
  display: flex;
}

.error-third-adjust-1 {
  display: flex;
  outline: none !important;
  border: 1px solid rgb(225 54 54);
  height: 57.5px;
  max-height: 57.5px;
  font-size: 16.75px;
  padding-left: 11px;
  width: 100%;
  border-radius: 4px;
}

.error-third-adjust-1::target-text {
  font-size: 16.75px;
}

.error-third-adjust-1::placeholder {
  font-size: 16.75px;
}

.error-third-adjust-1:focus {
  outline: none !important;
  border: 2.2px solid rgb(225 54 54);
  border-radius: 4px;
}

.input-third-adjust{
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  height: 53.75px;
  max-height: 53.75px;
  font-size: 16.75px;
  padding-left: 11px;
  width: 100%;
  display: flex;
}

.input-third-adjust:focus{
  outline: none !important;
  border: 2.2px solid rgb(54, 122, 225);
}

.input-third-adjust-1:focus{
  outline: none !important;
  border: 2.2px solid rgb(54, 122, 225);
}

.error-input-third-adjust{
  border-radius: 4px;
  outline: none !important;
  border: 1px solid rgb(225 54 54);
  height: 53.75px;
  max-height: 53.75px;
  font-size: 16.75px;
  padding-left: 11px;
  width: 100%;
  display: flex;
}

.error-input-third-adjust:focus{
  outline: none !important;
  border: 2.2px solid rgb(225 54 54);
}

.error-input-third-adjust-1:focus{
  outline: none !important;
  border: 2.2px solid rgb(225 54 54);
}

.select-color {
  color: #5c5c5c;
}

.select-selected {
  color: black;
}

.select-dropdown-options {
  color: black;
}

.gender-input-width {
  width: 90%;
}

.dob-input-width {
  width: 95%;
  display: flex;
  width: calc(32.5% - 10px);
}

.button-space {
  margin: 7px 1.5px 20px 0;
}

/* Choose Your Gmail Address */

.button-space-confirm-youre-not-a-robot {
  margin: 30px 0 0 0;
}

.placeholder-satic-cohersion {
  position: relative;
  display: flex;
  width: 94%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.static-position {
  position: absolute;
  right: 60px;
  top: 49.35%;
  font-size: 0.875em;
  font-weight: 200;
  color: rgb(32,33,36);
}

.center {
  text-align: center;
}

#button-right-choose-email {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin: 20px 0 150px 0;
}

#h2 {
  width: 90%;
}

.small-grey {
  color: #5c5c5c;
  font-size: 0.75em;
  font-weight: 100;
}

.below-input-small-grey {
  display: flex;
  justify-content: flex-start;
  width: 82%;
  margin-top: -17.5px;
}

.long-error-div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#usernameInput {
  padding-right: 120px;
}

/* Create Password */

.create-password-h2 {
  width: 98%;
}

#error-message-margin {
  margin: 13px 0 0 0;
}

.input-error-message {
  color: rgb(217,48,37);
  font-size: 0.73rem;
  font-weight: 200;
  margin: 1px 0 7.5px 10px;
}

.input-error-message-6-30 {
  color: rgb(217,48,37);
  font-size: 0.72rem;
  font-weight: 200;
  margin: 1px 0 7.5px 10px;
}

.error-div {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -5.75px;
}

#error-div-space {
  width: 90%;
  margin-top: -5px;
}

.password-toggle {
  width: 95%;
  margin: 2px 0 0 1.5px;
}

.checkbox-text-colour {
  display: flex;
  align-items: center;
  color: rgb(32, 33, 36);
}

.custom-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  border: 2px solid #5c5c5c;
  border-radius: 2px;
  position: relative;
  margin-left: 4px;
  transition: background-color 0.3s;
}

.custom-checkbox-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: rgb(32, 33, 36);
  position: relative;
}

.custom-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 37.5px;
  height: 37.5px;
  border-radius: 50%;
  position: absolute;
  left: -5.2px;
}

.custom-checkbox-label:hover::before {
  background-color: #f5f5f5; /* Slight grey background on hover */
}

.custom-checkbox:hover {
  border: 2px solid #313131;
}

.custom-checkbox-label input[type="checkbox"] {
  display: none;
}

.custom-checkbox-label input[type="checkbox"]:checked + .custom-checkbox {
  border-color: rgb(26, 115, 232);
  background-color: rgb(26, 115, 232);
}

.custom-checkbox-label.checked-and-click-off input[type="checkbox"]:checked + .custom-checkbox {
  border-color: rgb(26, 115, 232); 
  background-color: rgb(26, 115, 232);
}

.password-space {
  margin: 22.5px 0 20px 0;
}

#create-password-next-button {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin-bottom: 62px;
  margin-top: 40px;
}

.tick-white {
  color: white;
  transition: color 0.3s;
  position: relative;
  bottom: 1.125px;
}

.custom-checkbox-label .custom-checkbox .tick-hidden {
  color: transparent; /* Make the tick transparent when showPassword is not checked */
  transition: none; /* Remove transition on color */
}

.error {
  outline: none !important;
  border: 1px solid rgb(225 54 54);
  height: 53.75px;
  max-height: 53.75px;
  font-size: 16.75px;
  padding-left: 15px;
  width: 90%;
  border-radius: 4px;
}

.error::target-text {
  font-size: 16.75px;
}

.error::placeholder {
  font-size: 16.75px;
}

.error:focus {
  outline: none !important;
  border: 2.2px solid rgb(225 54 54);
  border-radius: 4px;
}

.error-image {
  height: 13.33px;
  width: 13.33px;
  filter: hue-rotate(359deg); /* Rotate 30 degrees towards red */
  margin: 1px 0 7.5px 2px;
}

#reduce-width-h2 {
  width: 90%;
}

#create-password-space {
  margin: 12.5px 0 15px 0;
}

#show-password-checkbox {
  font-size: 0.85em;
  font-weight: 500;
  margin-left: 7px;
}

#create-password-error-div {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 7px;
}

#create-password-error-div-stronger-password {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 7px;
}

.button-space-create-password {
   margin: 30px 1.5px 0 0;
}

/* Confirm Youre Not a Robot */

#h1-cynar {
  margin: 5px 0 15px 0;
  text-align: center;
}

#google-container-cynar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadce0;
  border-radius: 10px;
  flex-direction: column;
  width: 448.18px;
  min-width: 448.18px;
  min-height: 496.219px;
  position: relative;
  @media (max-height: 623px) {
    margin-top: 20px;
  }
}

#h2-cynar-div{
  margin-top: 11.95px;
  margin-bottom: 20px;
  position: relative;
  width: 266.57px;
  text-align: left;
  right: 45px;
}

#h2-cynar{
  font-size: 0.9em;
  font-weight: 200;
}

.small-grey-cynar {
  color: rgb(95,99,104);
  font-size: 0.875em;
  font-weight: 200;
  margin-top: 0px;
}

.space-phone-number-input-cynar {
  margin: 13px 0 13px -3px;
}

.below-input-small-grey-cynar{
  display: flex;
  justify-content: flex-start;
  width: 82%;
  margin: 35px 29px 0  0;
}

.separator {
  margin: 8px 0;
  border-bottom: 1px solid rgba(0,0,0,.12);
  width: 100%;
}
  

#react-select-2-option-1 {
  height: 0px;
  padding: 8px 0;
}

.flag-image {
  margin-right: 12px;
}

.country-option {
  font-size: 1rem;
  color: rgb(60,64,67);
  margin: 2px 0;
}

#button-right-robot {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin: 22.5px 0 110px 0;
}

#button-right-robot-confirm {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin: 40px 0 68.5px 0;
}

#error-div-space-cynar {
  width: 90%;
  margin-top: 6px;
  flex-wrap: nowrap;
}

.custom-code-input{
  font-family: "Noto Sans", sans-serif;
}

#verification-code-cynar {
  margin-top: 25px;
}

.react-code-input input:focus {
  border: 2px solid #1976d2 !important;
  outline: none !important;
}

/* Enter the Code */

#p-enter-the-code {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.875rem;
  width: 90%;
}

#textfield-container-etc {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#static-G {
  position: absolute;
  top: 44%;
  left: 57.5px;
  font-size: 0.875em;
  font-weight: 200;
  color: rgb(32,33,36);
}

#static-G-error {
  position: absolute;
  top: 44.1%;
  left: 57.5px;
  font-size: 0.875em;
  font-weight: 200;
  color: rgb(32,33,36);
}

#error-div-space-etc {
  width: 90%;
  margin: 8px 5px 9.25px 5px;
}

#buttons-container-enter-the-code{
  margin: 12px 0 167.5px 0;
  height: 50px;
  display: flex;
  align-items: center;
  width: 92.5%;
}

#buttons-container-enter-the-code-error{
  margin: 17px 0 145px 0;
  height: 50px;
  display: flex;
  align-items: center;
  width: 92.5%;
}

#secondary-button-container-etc{
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: flex-start;
  right: 6px;
  position: relative;
}

#next-button-container-etc{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  position: relative;
  right: 7px;
}



/* Add Recovery Email */

#google-writing-recovery-email {
  margin-top: 32.5px;
  margin-bottom: 15px;
  height: auto;
  width: 72px;
}

.input-label-recovery-email {
  width: 91.25%;
}

.error-div-add-recovery-email {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -8.75px 0 5.5px 3px;
}

.next-and-skip-button-duo {
  width: 372px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.white-button {
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  color: rgb(26,115,232);
  padding: 8.5px 22.475px;
  font-size: 15px;
  cursor: pointer;
  width: 49%;
}

.white-button:hover {
  background-color: #f2f7ff;
  color: rgb(8 67 144);
}

.button-space-add-recovery-email {
  margin: 20px 1.5px 130px 0;
}

/* Add phone number */

#add-phone-number-dropdown-and-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.flag-drop-down {
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  height: 29.75px;
  max-height: 29.75px;
  font-size: 16.75px;
  padding-left: 15px;
  width: 10%;
  display: flex;
  align-items: center;
}

.placeholder-satic-cohersion-phone-number{
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.space-phone-number-input {
  margin: 13px 0 13px 1px;
}

.short-input {
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  height: 29.75px;
  max-height: 29.75px;
  font-size: 16.75px;
  padding-left: 7.5px;
  width: 100%;
}

.short-input::target-text {
  font-size: 16.75px;
}

.short-input::placeholder {
  font-size: 13.75px;
}

.short-input:focus {
  outline: none !important;
  border: 2.2px solid rgb(54, 122, 225);
}

.short-error {
  outline: none !important;
  border: 1px solid rgb(225 54 54);
  height: 29.75px;
  max-height: 29.75px;
  font-size: 16.75px;
  padding-left: 15px;
  width: 90%;
  border-radius: 4px;
}

.short-error::target-text {
  font-size: 16.75px;
}

.short-error::placeholder {
  font-size: 16.75px;
}

.short-error:focus {
  outline: none !important;
  border: 2.2px solid rgb(225 54 54);
  border-radius: 4px;
}

.below-input-add-phone-number {
  display: flex;
  justify-content: flex-start;
  width: 89%;
  margin-top: -23.5px;
}

.button-space-add-phone-number {
  margin: 20px 1.5px 260px 0;
}

.h1-space-phone-number {
  margin: 6px 0 18px 0;
}

.phone-number-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 92%;
}

/* Review Your Account Info */

.google-container-flexible-ryai {
  display: flex;
  align-items: center;
  border: 1px solid #dadce0;
  border-radius: 10px;
  flex-direction: column;
  width: 448.18px;
  min-width: 448.18px;
  min-height: 496.219px;
  position: relative;
  @media (max-height: 623px) {
    margin-top: 20px;
  }
}

#google-writing-recovery-ryai {
  margin-top: 45px;
  margin-bottom: 15px;
  height: auto;
  width: 72px;
}

#profile-card-container {
  height: 40px;
  width: 90%;
  display: flex;
}

#profile-initial-circle-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-initial-circle {
  width: 28px; 
  height: 28px;
  /* background-color: #2b28ed; */
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
}

#name-and-email-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#name-ryai {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(60,64,67);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
}

#email-address-ryai {
  width: 100%;
  font-size: 0.75rem;
  color: rgb(95,99,104);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  margin-top: -5px;
}

#review-your-account-next-button {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin-bottom: 42px;
}

/* Choose Your Settings */

#choose-your-settings-container {
  width: 82.5%;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.radio-input-and-writting-container{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #dadce0;
  height: 49%;
}

.radio-input-container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #dadce0;
}

.cys-radio {
  height: 50px !important;
  width: 50px !important;
  bottom: 20px !important;
  overflow: visible !important;
}

.radio-group-ecys {
  height: 100%;
}

.writting-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.setting-option-name {
  font-size: 0.875rem;
  color: #202124;
  margin: 0 0 0 0;
}

.setting-information {
  font-size: 0.75rem;
  color: #5F6368;
  margin: 0 1.25px 0 0;
  line-height: 1.3333333;
}

.setting-option-name:hover,
.setting-information-pointer:hover {
    cursor: pointer;
}

#container-choose-your-settings-m{
  width: 83%;
}

#error-div-choose-your-settings {
  width: 83%;
  margin: 5px 0 11.125px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#choose-your-settings-p {
  font-size: 0.875rem;
  color: #5f6368;
}

#next-button-choose-your-settings {
  display: flex;
  width: 363px;
  justify-content: flex-end;
  margin: 30px 0 65px 0;
}

/* Express Choose Your Settings */

#choose-your-settings-title {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center
}

.pecys {
  font-size: 0.875rem;
  color: #202124;
  margin: 0;
  line-height: 1.43;
}

.pecys-pseudo-title {
  font-size: 0.875rem;
  color: #202124;
  margin: 2.5px 0 7.5px 0;
}

#express-choose-your-settings-info {
  width: 82.5%;
  margin-top: 27.5px;
}

.settings-svg-and-info-container {
  width: 100%;
  margin-top: 20px;
}

.settings-svg-and-info-row {
  width: 100%;
  display: flex;
  margin-bottom: 27.5px;
}

.svg-settings {
  width: 11.25%;
}

.setting-svg {
  fill: rgb(95,99,104);
}

.info-settings {
  width: 88.5%;
}

#youtube-svg {
  fill: rgb(117 117 117);
}

.express-ecys-h2 {
  font-size: 1.1rem;
  color: rgb(32,33,36);
  margin: 0 0 10px 0;
  font-weight: 500;
}

.p-gap-ecys {
  margin-bottom: 10px;
}

p-gap-ecys-tight {
  margin-bottom: 5px;
}

.p-gap-ecys-first {
  margin-top: 6.25px;
  margin-bottom: 10px;
}

.p-gap-ecys-last {
  margin-bottom: 23.75px;
}

.p-gap-ecys-first-and-last {
  margin-top: 6.25px;
  margin-bottom: 23.75px;
}

.ul-ecys {
  padding: 0;
  margin: 0;
}

.ul-ecys>:first-child {
  margin-top: 3.5px;
}

.bullet-point-ecys {
  margin-top: 8px;
  margin-left: 25px;
  padding-left: 15px;
}

.button-space-ecys {
  margin: 20px 1.5px 65px 0;
}

.google-container-overflow {
  display: flex;
  align-items: center;
  border: 1px solid #dadce0;
  border-radius: 10px;
  flex-direction: column;
  width: 448.18px;
  min-width: 448.18px;
  min-height: 496.219px;
  position: relative;
  @media (max-height: 623px) {
    margin-top: 20px;
  }
}

.modal-ecys {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title-div {
  width: 100%;
}

.modal-title-h1 {
  font-size: 1.25rem;
  padding: 24px 24px 0 24px;
  line-height: 1.3333;
  font-weight: 600;
  margin: 0;
}

.modal-scroll-information-container {
  height: 100%;
  overflow: auto;
  margin-top: 10px;
}

.modal-scroll-information {
  margin: 0 27px;
}

.modal-h2 {
  color: #202124;
  line-height: 1.5;
  font-weight: 600;
  width: 97%;
  margin-bottom: 0;
}

.modal-h2-more-margin {
  margin-top: 22.5px;
}

.css-uii3cu .modal-p, .css-uii3cu .modal-li{
  font-size: 14px;
  line-height: 1.4286;
  margin-top: 8.125px;
  margin-bottom: 0;
}

.css-uii3cu ul {
  margin-top: -5px;
  padding-inline-start: 25px;
  margin-bottom: 12.5px;
}

.css-uii3cu li {
  padding-left: 15px;
}

.modal-got-it-div {
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* Manual Choose Your Settings */

.h1-mcys{
  width: 86%;
}

.first-p-mcys{
  margin-top: 7.5px;
}

.regular-p{
  font-size: 0.875rem;
  color: #202124;
  position: relative;
  margin-bottom: 10px;
  margin-top: 22.5px;
}

#choose-your-settings-container-mcys{
  width: 82.5%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cys-radio-manual {
  height: 50px !important;
  width: 50px !important;
  overflow: visible !important;
}

.radio-input-container-mcys {
  width: 100%;
  height: 100%;
}

.mcys-h2 {
  font-size: 1.1rem;
  color: rgb(32,33,36);
  margin: 17.5px 0 10px 0;
  font-weight: 500;
}

#more-margin-top-h2-mcys {
  margin-top: 22.5px;
}

.learn-more-mcys {
  font-size: 0.875rem !important;
  margin-top: 10px !important; 
  margin-bottom: 15px !important;
  text-align: left !important;
}

#no-margin {
  margin: 0 !important;
}

#choose-your-settings-container-no-margin {
  width: 82.5%;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mcys-radio {
  height: 50px;
  width: 50px;
  bottom: 15px;
  overflow: visible;
}

#bullet-points-mcys {
  margin-top: -5px;
  padding-inline-start: 25px;
  margin-bottom: 12.5px;
}

.modal-li {
  font-size: 14px;
  line-height: 1.4286;
  margin-top: 8.125px;
  margin-bottom: 0;
  padding-left: 15px;
}

.grey-mcys{
  color: #5f6368;
  margin-bottom: 20px;
}

.button-space-mcys {
  margin: 20px 1.5px 60px 0;
}

/* Confirm Your Settings */

.confirm-your-settings-configuration-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 40px;
}

#reduce-width-h2-confirm-your-settings {
  width: 72.5%;
  margin-bottom: 17.5px;
}

.tick-or-null-svg {
  margin-right: 13.375px;
  flex-shrink: 0;
}

.setting-option-name-confirm {
  font-size: 0.875rem;
  color: #202124;
  margin: 0 0 7.5px 0;
}

#container-confirm-your-settings{
  width: 83%;
}

.pconfirmys {
  font-size: 0.875rem;
  color: #5F6368;
  line-height: 1.4286;
}

.confirm-list {
  margin-top: 8.125px;
}

.href {
  color: rgb(26,115,232);
  text-decoration: none;
}

.href:active {
  color: rgb(23,78,166);
}

.href:focus {
  background-color: rgba(26,115,232,0.149);
  border-radius: 2px;
  color: rgb(23,78,166);
}

/* Privacy and Terms */

.p-privacy-and-terms {
  font-size: 0.875rem;
  color: #202124;
  line-height: 1.4286;
}

.bullet-point-privacy-and-terms {
  margin-top: 8px;
  padding-left: 15px;
}

.i-agree-and-cancel-button-duo {
  width: 372px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Language Changer Div */

.language-changer-div {
  
}

.lang-test{
  height: 50px;
  width: 50px;
}

.change-lang-button {
  height: 50px;
  width: 50px;
  background-color: red;
}